RT_DARK RCDATA "Jet.style"
PT_lang RCDATA "Languages\\PT.lang"
DEU_lang RCDATA "Languages\\DEU.lang"
DUT_lang RCDATA "Languages\\DUT.lang"
FRA_lang RCDATA "Languages\\FRA.lang"
JPN_lang RCDATA "Languages\\JPN.lang"
SPA_lang RCDATA "Languages\\SPA.lang"
ZHX_lang RCDATA "Languages\\ZHX.lang"
RT_DARK3old RCDATA "Win10ModernDark.Style"
RT_WHITE RCDATA "OKSterling.style"
ENG_lang RCDATA "Languages\\ENGlang.json"
POL_lang RCDATA "Languages\\POLlang.json"
COPY_IMG_WHITE RCDATA "token_icons\\copy-content.png"
COPY_IMG_DARK RCDATA "token_icons\\copy-content_white.png"
IMG_EQR RCDATA "gfx\\paperwallet\\eqrbig.png"
RELOAD_IMAGE RCDATA "token_icons\\Refresh-PNG-Transparent-Image.png"
HSB_DARK RCDATA "token_icons\\Encrypted_512_Dark.png"
HSB_WHITE RCDATA "token_icons\\Encrypted_512_White.png"
ENCRYPTED_SEED_DARK RCDATA "token_icons\\Encrypted_seed_Dark.png"
ENCRYPTED_SEED_WHITE RCDATA "token_icons\\Encrypted_seed_White.png"
IMG_EQR_SMALL RCDATA "gfx\\paperwallet\\eqrsmall.png"
RT_DARKnew RCDATA "token_icons\\CharocalExpressive.style"
BITCOIN_IMG RCDATA "coin_icons\\1.png"
DASH_IMG RCDATA "coin_icons\\131.png"
BITCOINCASH_IMG RCDATA "coin_icons\\1831.png"
LITECOIN_IMG RCDATA "coin_icons\\2.png"
BITCOINSV_IMG RCDATA "coin_icons\\7.png"
DIGIBYTE_IMG RCDATA "coin_icons\\DGB.png"
ETHEREUM_IMG RCDATA "coin_icons\\ETH.png"
RAVENCOIN_IMG RCDATA "coin_icons\\RVN.png"
IMG_NOT_FOUND RCDATA "token_icons\\imgNotFound.png"
MOBILEGO_IMG RCDATA "token_icons\\1715.png"
CRYPTOCOM_IMG RCDATA "token_icons\\1776.png"
NEBULAS_IMG RCDATA "token_icons\\1908.png"
MDA_IMG RCDATA "token_icons\\1954.png"
KYBERNETWORK_IMG RCDATA "token_icons\\1982.png"
REQUESTNETWORK_IMG RCDATA "token_icons\\2071.png"
DAI_IMG RCDATA "token_icons\\2308.png"
TRUECHAIN_IMG RCDATA "token_icons\\2457.png"
HUOBITOKEN_IMG RCDATA "token_icons\\2502.png"
BITZTOKEN_IMG RCDATA "token_icons\\2918.png"
AETERNITY_IMG RCDATA "token_icons\\AE.png"
ALGORY_IMG RCDATA "token_icons\\ALG.png"
BINANCECOIN_IMG RCDATA "token_icons\\BNB.png"
BYTOM_IMG RCDATA "token_icons\\BTM.png"
USDCOIN_IMG RCDATA "token_icons\\centre-usdc_28.png"
GEMINIDOLLAR_IMG RCDATA "token_icons\\gemini_28.png"
HDL_IMG RCDATA "token_icons\\HDL.png"
MAKER_IMG RCDATA "token_icons\\MKR.png"
OMNISEGO_IMG RCDATA "token_icons\\OMG.png"
TRUEUSD_IMG RCDATA "token_icons\\trueusd_28.png"
ZRX_IMG RCDATA "token_icons\\ZRX.png"
LATOKEN_IMG RCDATA "token_icons\\latoken.png"
PAXOSSTANDARD_IMG RCDATA "token_icons\\paxos_28_2.png"
