RT_DARK RCDATA "Jet.style"
PT_lang RCDATA "Languages\\PT.lang"
DEU_lang RCDATA "Languages\\DEU.lang"
DUT_lang RCDATA "Languages\\DUT.lang"
FRA_lang RCDATA "Languages\\FRA.lang"
JPN_lang RCDATA "Languages\\JPN.lang"
SPA_lang RCDATA "Languages\\SPA.lang"
ZHX_lang RCDATA "Languages\\ZHX.lang"
RT_DARK3 RCDATA "Win10ModernDark.Style"
RT_WHITE RCDATA "OKSterling.style"
ENG_lang RCDATA "Languages\\ENGlang.json"
POL_lang RCDATA "Languages\\POLlang.json"
