PT_lang RCDATA "Languages\\PT.lang"
DEU_lang RCDATA "Languages\\DEU.lang"
DUT_lang RCDATA "Languages\\DUT.lang"
FRA_lang RCDATA "Languages\\FRA.lang"
JPN_lang RCDATA "Languages\\JPN.lang"
SPA_lang RCDATA "Languages\\SPA.lang"
ZHX_lang RCDATA "Languages\\ZHX.lang"
ENG_lang RCDATA "Languages\\ENGlang.json"
POL_lang RCDATA "Languages\\POLlang.json"
RT_DARK RCDATA "Jet.style"
RT_WHITE RCDATA "OKSterling.style"
COPY_IMG_WHITE RCDATA "token_icons\\copy-content.png"
COPY_IMG_DARK RCDATA "token_icons\\copy-content_white.png"
IMG_EQR RCDATA "gfx\\paperwallet\\eqrbig.png"
HSB_DARK RCDATA "token_icons\\Encrypted_512_Dark.png"
HSB_WHITE RCDATA "token_icons\\Encrypted_512_White.png"
ENCRYPTED_SEED_DARK RCDATA "token_icons\\Encrypted_seed_Dark.png"
ENCRYPTED_SEED_WHITE RCDATA "token_icons\\Encrypted_seed_White.png"
RELOAD_IMAGE RCDATA "token_icons\\Refresh-PNG-Transparent-Image.png"
BROWSE_DEVICE RCDATA "token_icons\\698831-icon-105-folder-add-512.png"
